@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css');
@import url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins' ,'Vazir', sans-serif, 'Sahel';
    background-image: url('sea-2755908_1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    direction: rtl;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    font-family: 'Pacifico', cursive;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: #344a2f;
    text-shadow: 2px 2px 5px rgba(19, 17, 17, 0.3);
    padding: 10px;
    display: inline-block;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    color: #344a2f;
    text-shadow: 2px 2px 5px rgba(49, 34, 34, 0.3);
    padding: 10px;
    display: inline-block;
}

.action-box {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
    border-bottom: 2px solid #658cb0;

}

.action-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
}
.action-item:hover {
    cursor: pointer;
    transform: scale(1.05); 
    transition: transform 0.3s ease;
}

.icon-box {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 15px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    backdrop-filter: blur(10px);
}

.icon-box img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.icon-box p {
    font-size: 0.75rem;
    color: #333;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 0.875rem;
}

.button:hover {
    background-color: #45a049;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}